---
import { Image } from 'astro:assets';

interface Props {
	title: string;
	image: string;
	url: string;
	description: string
}

const { image, title, url, description } = Astro.props
---

<article class="flex flex-row gap-5 p-2 items-center min-h-[110px] mt-4 shadow-blue-500/50 rounded-md bg-gradient-to-r from-indigo-50 via-purple-50 to-pink-50">
	<Image
		src={image}
		alt={title}
		height="100"
		width="100"
		class="rounded-md"
	/>
	<div>
		<a href={url} class="cursor-pointer">
			<h2 class="text-neutral-900 text-base font-semibold leading-[25px]">
				{title}
			</h2>
		</a>
		<h3 class="text-gray-700 text-sm font-medium leading-[25px] mt-2">
			{description}
		</h3>
		<a href={url} class="cursor-pointer">
			<p class="mt-4 inline-flex items-center gap-x-1.5 text-neutral-900 text-sm font-semibold font-sans">
				Ver artículo
				<svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none">
				  <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
				</svg>
			</p>
		</a>
	</div>
</article>
