---
import { SEO } from "astro-seo";
import Navbar from "@components/Navbar/index.astro";
import HeadlinePost from "@components/Post/Headline/index.astro";
import Pagination from "@components/Post/Pagination/index.astro";
interface Props {
  title: string;
  description: string;
  date: string;
  tags: string[];
  authors: string[];
  ogImage: string;
  cover: string;
  keywords: string;
  slug: string;
  urlNext?: string;
  urlPrevious?: string;
  titleNext?: string;
  titlePrevious?: string;
}

const {
  title,
  description,
  cover,
  slug,
  keywords,
  ogImage,
  urlNext,
  urlPrevious,
  titleNext,
  titlePrevious,
  date,
} = Astro.props;

const schema = {
  "@context": "https://schema.org",
  "@type": "Article",
  datePublished: date,
  description: description,
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": `https://www.efrencodes.com/articulos/${slug}`,
  },
  keywords: [keywords],
  headline: title,
  image: [ogImage],
  author: {
    "@type": "Person",
    name: "Efrén Martínez",
    url: `https://www.efrencodes.com/`,
  },
};
---

<!doctype html>
<html lang="es">
  <head>
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
    <SEO
      charset="UTF-8"
      title={title}
      description={description}
      canonical={new URL(`https://www.efrencodes.com/articulos/${slug}`)}
      twitter={{
        creator: "@efrencodes",
        card: "summary_large_image",
        site: `https://www.efrencodes.com/articulos/${slug}`,
        title: title,
        description: description,
        image: "https://www.efrencodes.com/images/profile-efren-martinez.jpg",
        imageAlt: "Profile - efrencodes",
      }}
      openGraph={{
        basic: {
          title: title,
          image: "https://www.efrencodes.com/images/profile-efren-martinez.jpg",
          url: new URL(`https://www.efrencodes.com/articulos/${slug}`),
          type: "summary_large_image",
        },
        optional: {
          description: description,
          siteName: "Efrén Martínez - Frontend Engineer",
          locale: "es-MX",
        },
      }}
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="google" content="notranslate" />
    <meta name="msapplication-TileColor" content="#d4d4d8" />
    <meta name="robots" content="index, follow" />
    <meta
      name="apple-mobile-web-app-title"
      content={new URL(`https://www.efrencodes.com/articulos/${slug}`)}
    />
    <meta
      name="application-name"
      content={new URL(`https://www.efrencodes.com/articulos/${slug}`)}
    />
    <meta name="theme-color" content="#d4d4d8" />
    <meta name="keywords" content={keywords} />
    <meta name="author" content="Efrén Martínez" />
  </head>
  <body class="leading-loose antialiased overflow-x-hidden">
    <Navbar>
      <a
        slot="navbar-action-primary"
        class="text-neutral-900 text-sm font-semibold font-sans inline-flex items-center gap-2"
        href="/"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="#000000"
          viewBox="0 0 256 256"
          ><path
            d="M216,40H68.53a16.08,16.08,0,0,0-13.72,7.77L9.14,123.88a8,8,0,0,0,0,8.24l45.67,76.11A16.08,16.08,0,0,0,68.53,216H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40ZM61.67,204.12,68.53,200h0ZM216,200H68.53l-43.2-72,43.2-72H216ZM106.34,146.34,124.69,128l-18.35-18.34a8,8,0,0,1,11.32-11.32L136,116.69l18.34-18.35a8,8,0,0,1,11.32,11.32L147.31,128l18.35,18.34a8,8,0,0,1-11.32,11.32L136,139.31l-18.34,18.35a8,8,0,0,1-11.32-11.32Z"
          ></path></svg
        >IR A ATRÁS</a
      >
    </Navbar>
    <main class="mx-auto max-w-screen-md px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
      <HeadlinePost title={title} description={description} cover={cover} />
      <slot />
      <Pagination
        urlNext={urlNext}
        urlPrevious={urlPrevious}
        titleNext={titleNext}
        titlePrevious={titlePrevious}
      />
    </main>
  </body>
</html>
